<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Checkplus 본인인증</title>
	
	<script language='javascript'>
	window.name ="Parent_window";
	
	function fnPopup(){
		// window.open('', 'popupChk', 'width=500, height=550, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no');
		document.form_chk.action = "https://nice.checkplus.co.kr/CheckPlusSafeModel/checkplus.cb";
		// document.form_chk.target = "popupChk";
		document.form_chk.submit();
	}
	window.onload = function(){
	    fnPopup();
    }
	</script>
</head>
<body>
	<form name="form_chk" method="post">
		<input type="hidden" name="m" value="checkplusService">
		<input type="hidden" name="EncodeData" th:value="${sEncData}">
	</form>
</body>
</html>